.kanban-column-heading-style {
    font-weight: bold;
    font-size: large;
    border-left: 1em solid;
    border-top: 0.5em solid;
    border-bottom: 0.1em solid;
}

.kanban-card-widget-style {
    margin: 1em;
    border: 0.5em solid khaki;
}

.kanban-card-widget-style text {
    background-color: khaki;
    color: black;
}

row.activatable {
    background-color: unset;
}

.kanban-card-heading-style {
    font-weight: bold;
}

.kanban-card-content-style {
    font-style: italic;
}
